
<div class="page-width">
  <div class="empty-page-content text-center">
    <img src='{{ "bg_404.png" | asset_url }}' alt="img-404" class="img-404" />
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
